:root {
    --background-color: #ffffff;
    --secondary-bg-color: #dbdee0;
    --text-color: #191513;
    --primary-color: #134b84; 
    --accent-color: #f7463c;
    --highlight-color: #fad743;
}
body{
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.801);
    /* padding: 10px 20px; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    backdrop-filter: blur(100px);
}
header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    filter: blur(100px);
    z-index: -1;
}
#logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}
#header-img{
    width: auto;
    height: 50px;
    margin: 0 20px;
}
#nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin: 0 5% 0 0;
}
span{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}
.nav-link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
}
span:hover{
    background-color: var(--secondary-bg-color);
    border-bottom: 2px solid black;
}
#main-page{
    width: 95vw;
    margin: 80px auto 0 auto;
}
#form-page{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    display: block;
}